{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "simple-import-sort"
  ],
  "rules": {
    "strict": [
      "error",
      "global"
    ],
    "prettier/prettier": "error",
    "react/jsx-curly-brace-presence": [
      "error",
      {
        "props": "always",
        "children": "always"
      }
    ],
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-empty-pattern": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // Config from https://dev.to/julioxavierr/sorting-your-imports-with-eslint-3ped
              [
                "^react",
                "^@?\\w"
              ],
              [
                "^(@|components)(/.*|$)"
              ],
              [
                "^\\u0000"
              ],
              [
                "^\\.\\.(?!/?$)",
                "^\\.\\./?$"
              ],
              [
                "^\\./(?=.*/)(?!/?$)",
                "^\\.(?!/?$)",
                "^\\./?$"
              ],
              [
                "^.+\\.?(css)$"
              ]
            ]
          }
        ]
      }
    }
  ]
}